--- 
layout: default 
title: CC Fail
permalink: /cc-fail-1/ 
prototype: 6
---

%section#services.newbieform5.card-noborder
  .container-fluid
    .row
      .col-lg-12.text-center
        %h1.mt-3 New Psychic Source Customer
        %ul.ani-dnis-area.text-muted.list-inline.mb-0
          %li.list-inline-item{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "The new customer's phone number, the number of the phone they using for this call."}
            ANI: 
            %strong
              267-210-6381 
            %i.tip.fa.fa-question-circle
          %li.list-inline-item{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "Psychic Source service line phone number, our number of which they have called."}
            DNIS: 
            %strong
              1-800-965-3049
            %i.tip.fa.fa-question-circle
    .row.justify-content-md-center
      .col-12.col-md-6.col-lg-6.mt-3        
        .media
          %i.fa.fa-exclamation-triangle.red.d-flex.mr-1.mt-1{"aria-hidden" => "true"}
          .media-body
            %h5.red.bold
              Unable to Process the Card

    .row.justify-content-md-center
      .col-12.col-md-12.col-lg-12
        .row.justify-content-md-center

          -#  B.	Scenario 2 – Deny Card (Declines for Insufficient Funds, Do Not Honor, Lost/Stolen, Hold Card)
          .card-block
            .row.justify-content-md-center
              .col-12.col-md-6.col-lg-6  
                .triangle-border.left
                  %p.mb-0
                    I’m sorry there was a problem processing your transaction.  It’s possible there was an error when you input your credit card information.  I can put you back into our telephone system to enter your information again or you can use a new card if you prefer.
                     
                  -# new card stuff here
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "frmCCNum"}
                    Capture CC

                  .col-lg-8
                    %p
                      %i.fa.fa-exclamation-triangle.green{"aria-hidden" => "true"} 
                      %strong
                        Press the 'Capture Via IVR' button 
                      below first so the Credit Card Automated IVR System can handle the entry.           
                      %i.tip.fa.fa-question-circle{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "'Capture Via IVR' will walk user through a CC number entry process that is automated and over the phone. If this is problematic, use 'Manually Enter'"}
                        
                    .input-group
                      %a#capture3.btn.btn-green.mr-4{:href => "/"} Capture Via IVR
                      %a#capture4.btn.btn-green{:href => "/"} Manually Enter
                
                  / credit card
                #capturedCC{:style => "display:none"}
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCNum"} CC Number
                    .col-lg-7
                      %input#frmCCNum.form-control{:placeholder => "*******************", :readonly => "readonly", :type => "text"}
                      %ul.list-unstyled.mb-0.mt-2
                        %li.creditcard-visa.mb-0
                          %span.sr-only
                            Visa
                        %li.creditcard-mastercard.mb-0
                          %span.sr-only
                            MasterCard
                        %li.creditcard-discover.mb-0
                          %span.sr-only
                            Discover
                        %li.creditcard-amex.mb-0
                          %span.sr-only
                            American Express
                        %li.creditcard-dinersclub.mb-0
                          %span.sr-only
                            Diner's Club
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCExp"} Experation
                    .col-lg-7
                      .row
                        .col.pr-0
                          %input.form-control{:placeholder => "****", :readonly => "readonly", :type => "text"}

                        .col
                          %input.form-control{:placeholder => "****", :readonly => "readonly", :type => "text"}

                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCCVC"} Security Code
                    .col-6.col-sm-7.col-md-6.col-lg-3
                      .with-inset-creditcard
                        %input#frmCCCVC.form-control{:placeholder => "****", :readonly => "readonly", :type => "text", :name => "cvc" }
                        %span.creditcard-cvv{"aria-hidden" => "true"}
                  %p.mt-4
                    %a.btn.btn-green.btn-fixed{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-2"}
                      Process Again
                  

                
                / credit card
                #captureCC{:style => 'display:none' }
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb2"} CC Number
                    .col-lg-7
                      %input#cc-numb2.form-control{:type => "text"}
                      %ul.list-unstyled.mb-0.mt-2
                        %li.creditcard-visa.mb-0
                          %span.sr-only
                            Visa
                        %li.creditcard-mastercard.mb-0
                          %span.sr-only
                            MasterCard
                        %li.creditcard-discover.mb-0
                          %span.sr-only
                            Discover
                        %li.creditcard-amex.mb-0
                          %span.sr-only
                            American Express
                        %li.creditcard-dinersclub.mb-0
                          %span.sr-only
                            Diner's Club

                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCExp"} Experation
                    .col-lg-7
                      .row
                        .col.pr-0
                          %select.form-control
                            %option Jan
                        .col
                          %select.form-control
                            %option 2017
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "security2"} Security Code
                    .col-6.col-sm-7.col-md-6.col-lg-3
                      .with-inset-creditcard
                        %input#security2.form-control{:type => "text"}
                        %span.creditcard-cvv{"aria-hidden" => "true"}
                  %p.mt-4
                    %a.btn.btn-green.btn-fixed.disabled{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-2"}
                      Process Again




                    -# Answed NO: End the call 
                    #ccFailNewNo.collapse.mb-3{:role => "tabcard"}
                      .card
                        .triangle-border.top                    
                          %p.mb-0
                            I’m not able to complete your new account. All of your information has been saved on the service.  When you call back with a different payment option, it will be easy to pick up where we left off.  You can purchase a gift card or a prepaid credit card and call us back.  

                        -# Asks How to purchase a card
                        %a#howToGiftCard.transcript-directions{"aria-controls" => "collhowToGiftCard", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collhowToGiftCard"}
                          .media
                            %i.fa.fa-exclamation-triangle.green.d-flex.mr-1.mt-1{"aria-hidden" => "true"}
                            .media-body
                              If the customer asks how to purchase a card the agent responds <u class="blue">click here</u>

                        #collhowToGiftCard.collapse.mt-3
                          .triangle-border.top
                            %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collhowToGiftCard", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collhowToGiftCard"}
                              %span{ :aria-hidden =>"true"}
                                x
                            %p.mb-0
                              It’s actually pretty easy.  You can purchase one at a local store such as a pharmacy, grocery store, or convenience store.

                        %a.btn.btn-green.mt-4.btn-fixed{ "data-toggle" => "modal", "data-target" => "#endModal" }
                          Close the Call

                    -# asks why section
                    #ccFailWhy.collapse.mb-3{:role => "tabcard"}
                      .card
                        .triangle-border.top
                          %p.mb-0
                            To protect your privacy, your bank doesn’t share that information with us. You will need to contact your bank for more information.


-# End the call modal popup code
#endModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "endModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-times{"aria-hidden" => "true"}
      .modal-body
        .text-center.mb-2
          .fa.fa-exclamation-triangle.fa-4x.red{"aria-hidden" => "true"}
        %h5.text-center.red.bold.mb-2
          Please transfer the call

        .row.justify-content-md-center
          .col
            #accordionTranscripts.accordion-unstyled{"aria-multiselectable" => "true", :role => "tablist"}
              .card
                #TcollapseZero.collapse.show{"aria-labelledby" => "TheadingZero", :role => "tabpanel"}
                  .card-block.text-center
                    %h5.mb-2.bold
                      1. Copy Message for Specialist:
                    %input{:type => "text"}
                    %a.btn.btn-green.btn-fixed.mt-3
                      Copy
            .card
              #TcollapseOne.collapse{"aria-labelledby" => "TheadingOne", :role => "tabpanel"}
                .card-block
                  %p.green.bold
                    %i.fa.fa-check-circle.fa-2x.green{"aria-hidden" => "true"}
                    Message for Specialist has been copied
                  %ol{:start => "2"}
                    %li Go to your browser tab that holds the Zipwire page.
                    %li In the left column, choose &#x2018;Directory&#x2019; tab, then &#x2018;call center&#x2019; dropdown.
                    %li Double click on an avaliable Agent (they have a green icon).
                    %li Right click  paste the message into Specialist chat box  send.
                    %li Transfer to Speicalist
                  -#%img.img-fluid{:src => "/images/how-to-ivr-transfer-recording-test.gif"}/
                  %p.mt-3
                    %a.text-small{"aria-controls" => "TcollapseZero", "aria-expanded" => "true", "data-parent" => "#accordionTranscripts", "data-toggle" => "collapse", :href => "#TcollapseZero"}
                      Back to message copy
          .text-center.mb-3.bold