--- 
layout: default 
title: Newbie Script 1 
permalink: /form-script/ 
prototype: 6
---



%section#services.newbieform5.bold-labels.card-noborder.btn-round
  .container-fluid
    .row
      .col-lg-12.text-center
        %h1.mt-3 New Psychic Source Customer
        %ul.ani-dnis-area.text-muted.list-inline.mt-2
          %li.list-inline-item{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "The new customer's phone number, the number of the phone they using for this call."}
            ANI: 
            %strong
              267-210-6381 
            %i.tip.fa.fa-question-circle
          %li.list-inline-item{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "Psychic Source service line phone number, our number of which they have called."}

            DNIS: 
            %strong
              1-800-965-3049
            %i.tip.fa.fa-question-circle
        %a#toggleTranscriptClick{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "left", :title => "Turn Transcript Off"}
          %i.fa.fa-comment.fa-lg.green
        %hr.mb-0

    .row.justify-content-md-center
      .col-12.col-md-12.col-lg-12
        #accordion{"aria-multiselectable" => "true", :role => "tablist"}
          .card.transcriptOnlyCard
            #headingColl1.card-header{:role => "tab"}
              %a{"aria-controls" => "coll1", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll1"}
                .row.justify-content-md-center
                  .col-12.col-md-12.col-lg-12
                    %h5.mb-0
                      Intro Transcript
            #coll1.collapse.show{"aria-labelledby" => "headingColl1", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p.mb-4
                        Hi! Thank you for calling (PS) my name is (your name).
                        Have you ever used our service before?
                      %a.btn.btn-green{"aria-controls" => "collIsMember", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collIsMember"}
                        Yes
                      %a.btn.btn-green{"aria-controls" => "coll2", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll2"}
                        no
                    #collIsMember.collapse
                      .row.justify-content-md-center
                        .col-md-7.text-center
                          %i.fa.fa-reply.fa-5x{"aria-hidden" => "true"}
                          %p
                            Please redirect this person to a sessoned agent.
                          %p.mb-3 
                            At this point the simution is over
                            %br
                            %a.btn.btn-defualt{:href => "{{ site.baseurl }}/"} Back to start

          .card.transcriptOnlyCard
            #headingColl2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll2", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll2"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Over 18 & New Member Offer
            #coll2.collapse{"aria-labelledby" => "headingColl2", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p
                        I would be happy to set you up with an account, so you can talk with one of our advisors in just a few minutes. We are a
                        Pre-Paid Service, so as long as you are over the age of 18?
                      %p
                        I’ll just need your information and a credit card in your own name to create an account exclusively for you. You can decide
                        how much you want to spend and when.
                      %p
                        Our new member introductory offer is just a $1.00 per minute 1X only. We accept all major credit cards.
                      %p
                        Our best package is 30 minutes for $30.00.
                      .btn.btn-green{"aria-controls" => "collMoreOnPrice", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collMoreOnPrice"}
                        More on Price                         
                      %a.btn.btn-green{"aria-controls" => "coll3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll3"}
                        Continue
                    #collMoreOnPrice.collapse.mt-3
                      .triangle-border.top

                        %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collMoreOnPrice", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collMoreOnPrice"}
                          %span{ :aria-hidden =>"true"}
                            &times
                        %ul.pl-3
                          %li
                            You can get 1 long reading or you may try 2 or 3 short readings with different advisors. You can divide up your time any way you like. 
                          %li
                            You do not have to use all the time on your first reading.  
                          %li
                            Any time left remains on your account for a future reading.
                        %p
                          There are no taxes, fees or other cost we charge to use our service. You can talk to almost any advisor. (Excludes Premium Advisors). We do not offer the $1 per/min rate on the next purchase. The advisor’s rates start from $4.99 per/min to $11.99 per/min, existing member rates are charged on 2nd purchases and on.

                        %p
                          The introductory price is a fantastic special first-time offer.  After your first purchase, you can select to put any amount from $10.00 and up on your account.  You always decide how much you want to put on your account. 

                        %p
                          %a.sendTop.btn.btn-green{"aria-controls" => "coll3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll3"}
                            Continue






          .card
            #headingColl3.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll3"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Customer Information
            #coll3.collapse{"aria-labelledby" => "headingColl3", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6

                    .triangle-border.left
                      %p.mb-0
                        Now, your first, middle and last name exactly how it appears on the credit card. 
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "first-input"} First Name
                      .col-lg-7
                        %input#first-input.form-control{:type => "text"}
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "last-input"} Last Name
                      .col-lg-7
                        %input#last-input.form-control{:type => "text"}
                        %span.small.muted
                          (Fraud search for duplicates will happen on this field)

                    .triangle-border.left
                      %p.mb-0
                        Your date of birth please.  Thank you.

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "birth"} Birth Date
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %input#birth.form-control{:name => "date", :type => "date"}

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "gender-select"} Gender
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %select#gender-select.form-control
                          %option Female
                          %option Male

                    .triangle-border.left
                      %p.mb-0
                        We would like to know your preferred reading language for getting a reading. Spanish or English. We will deliver content in your preferred language.

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "language-select"} Language
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %select#language-select.form-control
                          %option English
                          %option Spanish

                    .triangle-border.left
                      %p.mb-0
                        And your email address please?
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "email"} Email
                      .col-lg-7
                        %input#email.form-control{:type => "email"}
                        %span.small.muted
                          (Fraud search for duplicates will happen on this field)
                    .triangle-border.left
                      %a.btn.btn-green.mb-0.btn-sm{"aria-controls" => "collDeclinesEmail", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collDeclinesEmail"}
                        Declines Email                         

                    #collDeclinesEmail.collapse.mt-3
                      .triangle-border.top
                        %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collDeclinesEmail", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collDeclinesEmail"}
                          %span{ :aria-hidden =>"true"}
                            &times
                        %p
                          (Entice them) By sharing your email address, you are given added security;
                        %p
                          Benefits  
                        %ul
                          %li
                            We send an electronic receipt with every purchase.
                          %li
                            We send you promotions and exclusive offers for just sharing your email.
                          %li
                            Your information is private and we don’t sell or trade any of your private information.
                    
                    %p
                      %a.btn.btn-green.btn-fixed{"aria-controls" => "coll5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll5"}
                        Continue

          .card
            #headingColl5.card-header{:role => "tab"}

              %a.collapsed{"aria-controls" => "coll5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll5"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Address

            #coll5.collapse{"aria-labelledby" => "headingColl5", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p.mb-0
                        Your name, just as it appears on your CC, is it (read field below)?

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "cc-name"} CC Name
                      .col-lg-7
                        %input.form-control{:type => "text", :value => "Matthew Dalberto"}

                    .triangle-border.left
                      %p.mb-0
                        What is your billing address's country?
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "City-input"} Country
                      .col-lg-7
                        %select#gender-select.form-control
                          %option USA
                    .triangle-border.left
                      %p.mb-0
                        and billing address?
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "address1-input"} Address 1
                      .col-lg-7
                        %input.form-control{:type => "text"}
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "address2-input"} Address 2
                      .col-lg-7
                        %input.form-control{:type => "text"}

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "zip23"} Zip
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %input.form-control{:name => "zip", :type => "text"}

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "City-input"} City/Town
                      .col-lg-7
                        %select.form-control
                          %option - choose one -

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "state-select"} State/Province
                      .col-lg-7
                        %select.form-control
                          %option PA

                    %p.mt-4
                      %a.btn.btn-green.btn-fixed{"aria-controls" => "coll6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll6"}
                        Continue

          .card
            #headingColl6.card-header{:role => "tab"}

              %a.collapsed{"aria-controls" => "coll6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll6"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Payment Information & Transaction

            #coll6.collapse{"aria-labelledby" => "headingColl6", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p
                        The information I need, is what verifies you to your credit card.
                      %p.mb-0
                        Please may I have your phone exactly as it’s listed with your credit card company? 

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "phone-input"} CC Phone Number
                      .col-lg-7
                        .input-group
                          %input#phone-input.form-control{:type => "text"}
                            %span.input-group-btn
                              %button#useAni.btn.btn-secondary{:type => "button"} Use ANI
                        %span.small.muted
                          (Fraud search for duplicates will happen on this field)

                    .triangle-border.left
                      %p.mb-0
                        I will transfer you over to our automated system to enter the credit card information. Once you have completed entering the information you will be transferred back to me.

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "phone-input"}
                        Credit Card

                      .col-lg-8
                        .input-group
                          %a#capture3.btn.btn-green.mr-1{:href => "/"} Capture Via IVR
                          %a#capture4.btn.btn-default{:href => "/"} Manually Enter
                        %span.small.muted
                          Please press 'Capture Via IVR' first below so the Credit Card Automated IVR System can handle the entry. IVR will walk user through entering info.
                    
                      / credit card
                    #capturedCC{:style => "display:none"}
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb"} Credit Card
                        .col-lg-7
                          %input#cc-numb.form-control{:placeholder => "*******************", :readonly => "readonly", :type => "text"}/
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "experation"} Experation
                        .col-lg-7
                          .row
                            .col.pr-0
                              %select#gender-select.form-control
                                %option ***
                            .col
                              %select#gender-select2.form-control
                                %option ***
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "security-code"} Security Code
                        .col-6.col-sm-3.col-md-3.col-lg-2
                          %input#security-code.form-control{:placeholder => "****", :readonly => "readonly", :type => "text"}/
                        %a#capture2.btn.btn-primary.btn-sm{:href => ""} Redo

                    
                    / credit card
                    #captureCC{:style => 'display:none' }
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb2"} Credit Card
                        .col-lg-7
                          %input#cc-numb2.form-control{:type => "text"}/
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "experation2"} Experation
                        .col-lg-7
                          .row
                            .col.pr-0
                              %select#gender-select.form-control
                                %option Jan
                            .col
                              %select#gender-select2.form-control
                                %option 2017
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "security2"} Security Code
                        .col-6.col-sm-3.col-md-3.col-lg-2
                          %input#security2.form-control{:type => "text"}

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "first-input2"} DNIS
                      .col-lg-7
                        %input.form-control{:placeholder => "1-800-956-3049", :type => "text"}
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "promo-input"} Promo Code
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        .input-group
                          %input#promo-input.form-control{:type => "text"}
                            %i.tip.fa.fa-question-circle.fa-lg{"aria-hidden" => "true", "data-toggle" => "tooltip", :title => "Only enter something if they provide this"}

                    / packages
                    .form-group.row
                      %label.col-lg-3.col-form-label Packages
                      .col-lg-7
                        .form-check
                          %label.form-check-label
                            %input#gridRadios1.form-check-input{:name => "gridRadios", :type => "radio", :value => "option1", :checked => "checked" }
                              $30.00 for 30 minutes
                        .form-check
                          %label.form-check-label
                            %input#gridRadios2.form-check-input{:name => "gridRadios", :type => "radio", :value => "option2"}
                              $20.00 for 20 minutes
                        .form-check
                          %label.form-check-label
                            %input#gridRadios3.form-check-input{:name => "gridRadios", :type => "radio", :value => "option3"}
                              $10.00 for 10 minutes
                    .triangle-border.left
                      %p.mb-0              
                        Something about the Kindness program goes here

                    .form-group.row
                      %label.col-lg-3.col-form-label Kindness
                      .col-lg-7
                        .form-check
                          %label.form-check-label
                            %input#gridRadios1.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option1", :checked => "checked"}
                              Futures Without Violence
                        .form-check
                          %label.form-check-label
                            %input#gridRadios2.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option2"}
                              National Center for Housing Child Welfare
                        .form-check
                          %label.form-check-label
                            %input#gridRadios3.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option3"}
                              Paws With a Cause
                        .form-check
                          %label.form-check-label
                            %input#gridRadios4.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option4"}
                              No thanks

                    .triangle-border.left
                      %p.mb-0
                        How did you hear about the service?

                    .form-group.row
                      %label.col-lg-3.col-form-label Heard about us
                      .col-lg-7
                        %select#gender-select.form-control
                          %option From a Friend
                          %option Newspaper
                          %option Magazine
                          %option Internet
                          %option TV
                          %option Radio
                          %option From a Friend
                          %option Unspecified

                    .triangle-border.left
                      %p.mb-0
                        Now I will process your transaction for 30-minutes for $30.00. 
                      %ul
                        %li
                          PAUSE!
                        %li
                          Wait before processing transaction.
                        %li
                          Gives the customer a chance to change their mind before processing. 

                    %p
                      %a.mt-2.btn.btn-green.btn-fixed#processAccordian
                        Review Order


        #confirmationScreen{:style => 'display:none'}

          .row.justify-content-md-center
            .col-12.col-md-12.col-lg-12
              %h5.card-header.text-center
                %span
                  Rewiew Information

          .row.justify-content-md-center
            .col-12.col-md-5.col-lg-5                
              .form-group.row
                %label.col-lg-3.col-form-label{:for => "last-input"} Intro Offer
                .col-lg-5
                  .review
                    $30.00 for 30 minutes
              .form-group.row
                %label.col-lg-3.col-form-label{:for => "first-input"} Name
                .col-lg-5
                  .review
                    Matt Dalberto
                    
              .form-group.row
                %label.col-lg-3.col-form-label{:for => "last-input"} Email
                .col-lg-5
                  .review
                    mdalberto@vseinc.com


              .form-group.row
                %label.col-lg-3.col-form-label{:for => "first-input"} Birth Date
                .col-lg-5
                  .review
                    03/25/1980
                    
              .form-group.row
                %label.col-lg-3.col-form-label{:for => "first-input"} Credit Card
                .col-lg-7
                  .review
                    ****************0808

              .form-group.row
                %label.col-lg-3.col-form-label{:for => "first-input"} Experation
                .col-lg-7
                  .review
                    12/12/2019

              .form-group.row
                %label.col-lg-3.col-form-label{:for => "first-input"} CC Address
                .col-lg-7
                  .review
                    900 Wheeler Way, Suit 2
                    %br
                    Langhorne, PA 19000, USA

              .form-group.row
                %label.col-lg-3.col-form-label{:for => "last-input"} CC Phone
                .col-lg-5
                  .review
                    555-555-5555

              .form-group.row
                %label.col-lg-3.col-form-label{:for => "last-input"} Total charges to card
                .col-lg-5
                  .review
                    $30.00

          .row.justify-content-md-center
            .col-12.col-md-6.col-lg-6
              %p
                %a.btn.btn-default#backAccordian
                  Back  
                %a.mt-2.btn.btn-green.btn-fixed#submitAccordian
                  Process Order         

        #processMessage.text-center
          .card-header.green
            %h1
              %span
                Success!

            .row.justify-content-md-center
              .col-12.col-md-5.col-lg-5  
                %p.mt-4
                  The account has been created!
            
        #accordion2{"aria-multiselectable" => "true", :role => "tablist", :style => 'display:none'}
          .card.transcriptOnlyCard
            #headingColl2-1.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll2-1", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#coll2-1"}
                %h5.mb-0
                  Service Information
            #coll2-1.collapse{"aria-labelledby" => "headingColl2-1", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    .triangle-border.left
                      %p
                        For your privacy, your credit card charges will show as (insert Service Name).
                      %ul
                        %li
                          Hollywood Psychics appear as HPS and our 800#
                        %li
                          Love Coach appears as Expert Link and our 800# 
                        %li
                          Psychics Source appear as Expert Link and our 800# 
                        %li
                          Gay Live appears as Live Link and our 800#
                    .triangle-border.left
                      %p              
                        Now we have your account all setup, I’ll give you all the information you need to connect with an advisor. 
                      %p                    
                        Please get a pen & paper so you can take down the phone number for accessing our service.  
                      %p
                        I would like to recommend some of our top advisor on the service right now?  
                      %p
                        What type of reading are you looking for? <Love & relationships, career, finance, etc.>. 
                        Recommend 2–3 advisors who are available on the service currently.
                        %br/
                        %a.btn.btn-green.btn-sm
                          Link to Expert View
                      %p
                        This will be the only number you’ll need in the future to contact the service. (HP, PS)
                        %span.small
                          (Service Overview for instructions: Hollywood Psychics, Psychic Source)
                      %p
                        The phone number you’ll need to use is: 1-XXX-XXX-XXXX.
                      %p 
                        Once the service picks up- Select option #1 for existing members and enter your 4-digit pin# or your 10-digit phone number followed by your 4-digit PIN #, followed by the # pound key.  
                        %span.small
                          (The system will confirm the available amount of time and money in your account)
                      %p
                        From the Crossroads menu; Select option #1 again for the Advisor menu.  
                      %p
                        You can listen to all the available advisor’s messages.  Take your time – you’re not charged until your talking with an Advisor.
                      %p
                        %a.btn.btn-green.btn-fixed{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#coll2-2"}
                          Continue              

          .card.transcriptOnlyCard
            #headingColl2-2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#coll2-2"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    %h5.mb-0
                      How to disconnect a reading with advisor

            #coll2-2.collapse{"aria-labelledby" => "headingColl2-2", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    .triangle-border.left
                      %p
                        If at any time during the reading you’re not satisfied, or don’t feel you’re connecting with the Advisors. 
                      %p
                        Press the star (*) key to end your reading right away. Don’t be afraid to use this option, if you’re not satisfied with your reading. The Advisor will not know the call was disconnected.
                      %p
                        %a.btn.btn-green.btn-fixed{"aria-controls" => "coll2-3", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#coll2-3"}
                          Continue

          .card.transcriptOnlyCard
            #headingColl2-3.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll2-3", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#coll2-3"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      You’re ready to have a reading now!  Simply call the toll-free # and follow the prompts that we went over.
                    %p
                      When you call into the service, if you ever have a question, just press “0”.  We’re always available in Customer Service to help you!  
                    %p
                      Is there anything else I can help you with?
                    %p
                      Thanks for calling (PS / HP / LC) Enjoy your reading! 
                  .text-center
                    %p.mb-0.bold
                      The End
                    %p At this point the simution is over
                    %a{:href => "{{ site.baseurl }}/"} Back to start


%footer.footer2.clearfix
  .container-fluid.text-center
    #users.users{:style => 'display: none'}

      %a#btn-matches.text-red.text-center.mb-3.font-weight-bold.btn-match{:href => ""}
        %i.fa.fa-exclamation-triangle{"aria-hidden" => "true"}
        4 match(es) found
      %a#btn-matches2.text-red.text-center.mb-3.font-weight-bold.btn-match{:href => "", :style => "display:none"}
        %i.fa.fa-exclamation-triangle{"aria-hidden" => "true"}
        4 match(es) found
      .row.users-heading
        .col.text-red
          Name
          %i.fa.fa-sort-desc
        .col 
          DOB
          %i.fa.fa-sort-desc 
        .col 
          Email
          %i.fa.fa-sort-desc 
        .col 
          Phone
          %i.fa.fa-sort-desc 
        .col 
          Address
          %i.fa.fa-sort-desc 
        .col.text-center
          Investigate

      .row
        .col
          Matt M
          %span.text-red Bee
        .col 03/25/1979
        .col mdal1388@gmail.com
        .col 215-222-2211
        .col 3543 Ainslie Street...
        .col.text-center
          %button.btn.btn-default.btn-sm{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"} View
      %hr/
      .row
        .col
          Mat
          %span.text-red Bee
        .col 03/20/1980
        .col mdal138@gmail.com
        .col 215-111-2222
        .col 1113 Chestnut Street...
        .col.text-center
          %a.btn.btn-default.btn-sm{:href => ""} View
      %hr/
      .row
        .col
          Mark
          %span.text-red Bee
        .col 03/25/1980
        .col mdal13833@gmail.com
        .col 215-978-2222
        .col 545 Park Street...
        .col.text-center
          %a.btn.btn-default.btn-sm{:href => ""} View
      %hr/
      .row
        .col
          Joe
          %span.text-red Bee
        .col 09/25/1980
        .col joe@gmail.com
        .col 215-121-2222
        .col 98 Car Street...
        .col.text-center
          %a.btn.btn-default.btn-sm{:href => ""} View
      %hr/
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header.text-center
        %h5#exampleModalLongTitle.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
      .modal-body
        %h3.text-center
          Psychic Source Customer
          %br/
          Matt M Bee
        %hr.mt-4/
        .container-fluid
          .row
            .col-6 Bunch of relevent details
            .col-6 Bunch of relevent details
      .modal-footer.text-center
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close





