--- 
layout: default 
title: Newbie Script 1 
permalink: /form-script/ 
prototype: 6
---


%section#services.newbieform5.card-noborder
  .container-fluid
    .row
      .col-lg-12.text-center
        %h1.mt-3 New Psychic Source Customer
        %ul.ani-dnis-area.text-muted.list-inline.mb-0
          %li.list-inline-item{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "The new customer's phone number, the number of the phone they using for this call."}
            ANI: 
            %strong
              267-210-6381 
            %i.tip.fa.fa-question-circle
          %li.list-inline-item{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "Psychic Source service line phone number, our number of which they have called."}

            DNIS: 
            %strong
              1-800-965-3049
            %i.tip.fa.fa-question-circle
        //%a#toggleTranscriptClick{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "left", :title => "Turn Transcript Off"}
        //%i.fa.fa-comment.fa-lg.green
        //%hr.mb-0

        #enrollSteps.row
          .col-md-6.text-center
            %ul.steps-progressbar
              %li.done Intro Transcript
              %li.done Over 18  Offer
              %li.active
                Customer
                %span.break-xs Info
              %li.step-four Billing Address
              %li Payment Info
              %li Review



    .row.justify-content-md-center
      .col-12.col-md-12.col-lg-12
        #accordion{"aria-multiselectable" => "true", :role => "tablist"}
          .card.transcriptOnlyCard
            #headingColl1.card-header{:role => "tab"}
              %a{"aria-controls" => "coll1", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll1"}
                .row.justify-content-md-center
                  .col-12.col-md-12.col-lg-12
                    %h5.mb-0
                      Intro Transcript
            #coll1.collapse.show{"aria-labelledby" => "headingColl1", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p.mb-4
                        Hi! Thank you for calling (PS) my name is (your name).
                        Have you ever used our service before?
                      %a.btn.btn-green{"aria-controls" => "collIsMember", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collIsMember"}
                        Yes
                      %a.btn.btn-green{"aria-controls" => "coll2", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll2"}
                        no
                    #collIsMember.collapse
                      .row.justify-content-md-center
                        .col-md-7.text-center
                          %i.fa.fa-reply.fa-5x{"aria-hidden" => "true"}
                          %p
                            Please redirect this person to a sessoned agent.
                          %p.mb-3 
                            At this point the simution is over
                            %br
                            %a.btn.btn-defualt{:href => "{{ site.baseurl }}/"} Back to start

          .card.transcriptOnlyCard
            #headingColl2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll2", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll2"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Over 18 & New Member Offer

            #coll2.collapse{"aria-labelledby" => "headingColl2", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p
                        I would be happy to set you up with an account, so you can talk with one of our advisors in just a few minutes. We are a
                        Pre-Paid Service, so as long as you are over the age of 18?
                      %p
                        I’ll just need your information and a credit card in your own name to create an account exclusively for you. You can decide
                        how much you want to spend and when.
                      %p
                        Our new member introductory offer is just a $1.00 per minute 1X only. We accept all major credit cards.
                      %p
                        Our best package is 30 minutes for $30.00.


                    %a.transcript-directions{"aria-controls" => "collMoreOnPrice", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collMoreOnPrice"}
                      .media
                        %i.fa.fa-exclamation-triangle.green.d-flex.mr-1.mt-1{"aria-hidden" => "true"}
                        .media-body
                          If they have questions about price <u>click here</u> to read them more about our price details.
                     
                    #collMoreOnPrice.mt-3.collapse
                      .triangle-border.top

                        %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collMoreOnPrice", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collMoreOnPrice"}
                          %span{ :aria-hidden =>"true"}
                            &times
                        %ul.pl-3
                          %li
                            You can get 1 long reading or you may try 2 or 3 short readings with different advisors. You can divide up your time any way you like. 
                          %li
                            You do not have to use all the time on your first reading.  
                          %li
                            Any time left remains on your account for a future reading.
                        %p
                          There are no taxes, fees or other cost we charge to use our service. You can talk to almost any advisor. (Excludes Premium Advisors). We do not offer the $1 per/min rate on the next purchase. The advisor’s rates start from $4.99 per/min to $11.99 per/min, existing member rates are charged on 2nd purchases and on.




                    .triangle-border.left
                      %p
                        Do you have a promo code?


                      %a.btn.btn-green{"aria-controls" => "promoCodeYes", "aria-expanded" => "false", "data-parent" => "#purchasePackages", "data-toggle" => "collapse", :href => "#promoCodeYes"}
                        Yes
                      %a.btn.btn-green.collapsed{"aria-controls" => "promoCodeNo", "aria-expanded" => "false", "data-parent" => "#purchasePackages", "data-toggle" => "collapse", :href => "#promoCodeNo"}
                        No



                    ////////////


                    #purchasePackages{"aria-multiselectable" => "true", :role => "tablist"}
                    
                      .card
                        #promoCodeYes.collapse.show{"aria-labelledby" => "questionOne", :role => "tabcard"}
                          .triangle-border.top
                            %p.mb-0
                              Ok, what is the number?

                          .form-group.row
                            %label.col-lg-3.col-form-label{:for => "frmPromoCode"} Promo Code

                            .col-lg-7
                              .input-group
                                %input#frmPromoCode.form-control{:type => "text", :name => "frmPromoCode"}
                                  %span.input-group-btn
                                    %a.btn.btn-green#packageOptionPromoCodeBtn Apply
                                
                                %i.tip.fa.fa-question-circle.fa-lg{"aria-hidden" => "true", "data-toggle" => "tooltip", :title => "Only enter something if they provide this"}


                          .packageOption#packageOptionPromoCode{ "style" => "display:none"}
                            .form-group.row
                              %label.col-lg-3.col-form-label{:for => "frmPackage"} Package
                              .col-lg-7
                                %input#frmPackage.form-control{:name => "frmPackage", :type => "text", :value => "100000 (New Member Pricing (Order Entry)" , :readonly => "readonly"}

                            .form-group.row
                              %label.col-lg-3.col-form-label{:for => "PackagePlan"} Plans
                              .col-lg-7
                                .form-check
                                  %label.form-check-label
                                    %input#PackagePlan1.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option1", :checked => "checked" }
                                      $77.78 for 55 minutes
                                .form-check
                                  %label.form-check-label
                                    %input#PackagePlan2.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option2"}
                                      $55.37 for 51 minutes
                                .form-check
                                  %label.form-check-label
                                    %input#PackagePlan3.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option3"}
                                      $45.00 for 44 minutes




                      .card
                        #promoCodeNo.collapse{"aria-labelledby" => "questionTwo", :role => "tabcard"}

                          .triangle-border.top
                            %p.mb-0
                              No problem. We have an introductory price is a fantastic special first-time offer.  After your first purchase, you can select to put any amount from $10.00 and up on your account.  You always decide how much you want to put on your account. 

                        
                          // packages
                          .form-group.row
                            %label.col-lg-3.col-form-label{:for => "frmDnis"} DNIS
                            .col-lg-7
                              %input#frmDnis.form-control{:name => "frmDnis", :type => "text", :value => "215-978-7668" , :readonly => "readonly"}
                          .form-group.row
                            %label.col-lg-3.col-form-label{:for => "frmPackage"} Package
                            .col-lg-7
                              %select#packageOptions.form-control
                                %option{:value => "packageDefault"} 100000 (New member (pricing Order Entry)) 
                                %option{:value => "packageOption1"} 1700 (New member offer)
                                %option{:value => "packageOption2"} BELIEVE (Best value is $25 package)
                                %option{:value => "packageOption3"} TORIMYHERO (Tori is my hero)
                                
                              
                          .form-group.row.packageOption#packageDefault
                            %label.col-lg-3.col-form-label{:for => "PackagePlan"} Plans
                            .col-lg-7
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan1.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option1", :checked => "checked" }
                                    $30.00 for 30 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan2.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option2"}
                                    $20.00 for 20 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan3.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option3"}
                                    $10.00 for 10 minutes


                          .form-group.row.packageOption#packageOption1{ "style" => "display:none"}

                            %label.col-lg-3.col-form-label{:for => "PackagePlan"} Plans
                            .col-lg-7
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan1.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option1", :checked => "checked" }
                                    $50.00 for 30 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan2.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option2"}
                                    $40.00 for 20 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan3.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option3"}
                                    $30.00 for 10 minutes
                        
                          .form-group.row.packageOption#packageOption2{ "style" => "display:none"}
                            %label.col-lg-3.col-form-label{:for => "PackagePlan"} Plans
                            .col-lg-7
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan1.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option1", :checked => "checked" }
                                    $48.82 for 29 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan2.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option2"}
                                    $39.33 for 18 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan3.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option3"}
                                    $35.00 for 13 minutes
                          .form-group.row.packageOption#packageOption3{ "style" => "display:none"}

                            %label.col-lg-3.col-form-label{:for => "PackagePlan"} Plans
                            .col-lg-7
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan1.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option1", :checked => "checked" }
                                    $77.78 for 55 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan2.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option2"}
                                    $55.37 for 51 minutes
                              .form-check
                                %label.form-check-label
                                  %input#PackagePlan3.form-check-input{:name => "PackagePlan", :type => "radio", :value => "option3"}
                                    $45.00 for 44 minutes
                        ///////////
                    
                    %a.btn.btn-green.btn-fixed.mt-3{"aria-controls" => "coll3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll3"}
                      Continue


          .card
            #headingColl3.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "coll3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll3"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Customer Information
            #coll3.collapse{"aria-labelledby" => "headingColl3", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6

                    .triangle-border.left
                      %p.mb-0
                        Now, your first, last name exactly how it appears on the credit card. 
                    .form-group.row.has-warning
                      %label.col-lg-3.col-form-label{:for => "FirstName"} First Name
                      .col-lg-7
                        %input#FirstName.form-control{:type => "text"}
                    .form-group.row.has-warning
                      %label.col-lg-3.col-form-label{:for => "LastName"} Last Name
                      .col-lg-7
                        %input#LastName.form-control{:type => "text"}


                    .triangle-border.left
                      %p.mb-0
                        Your date of birth please.  Thank you.

                    .form-group.row.has-warning
                      %label.col-lg-3.col-form-label{:for => "birth"} Birth Date
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %input#birth.form-control{:name => "date", :type => "date"}
                        .form-control-feedback
                          Duplicates for Name + DOB found
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "gender-select"} Gender
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %select#gender-select.form-control
                          %option Female
                          %option Male

                    .triangle-border.left
                      %p.mb-0
                        We would like to know your preferred reading language for getting a reading. Spanish or English. We will deliver content in your preferred language.

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "language-select"} Language
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %select#language-select.form-control
                          %option English
                          %option Spanish

                    .triangle-border.left
                      %p.mb-0
                        And your email address please?
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "email"} Email
                      .col-lg-7
                        %input#email.form-control{:type => "email"}
                        %span.small.muted
                          (Fraud search for duplicates will happen on this field)
                    
                    %a.transcript-directions{"aria-controls" => "collDeclinesEmail", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collDeclinesEmail"}
                      .media
                        %i.fa.fa-exclamation-triangle.green.d-flex.mr-1.mt-1{"aria-hidden" => "true"}
                        .media-body
                          If they do not wish to give you their email address <u>click here</u> to read them more about our email benefits.
                     


                    #collDeclinesEmail.collapse.mt-3
                      .triangle-border.top
                        %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collDeclinesEmail", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collDeclinesEmail"}
                          %span{ :aria-hidden =>"true"}
                            &times
                        %p
                          By sharing your email address, you are given added security;
                        %p
                          Benefits  
                        %ul
                          %li
                            We send an electronic receipt with every purchase.
                          %li
                            We send you promotions and exclusive offers for just sharing your email.
                          %li
                            Your information is private and we don’t sell or trade any of your private information.
                    
                    %p.mt-4
                      %a.btn.btn-green.btn-fixed{"aria-controls" => "coll5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll5"}
                        Continue

          .card
            #headingColl5.card-header{:role => "tab"}

              %a.collapsed{"aria-controls" => "coll5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll5"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Billing Address

            #coll5.collapse{"aria-labelledby" => "headingColl5", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6

                    .triangle-border.left
                      %p.mb-0
                        What is your billing address's country?
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "City-input"} Country
                      .col-lg-7
                        %select#gender-select.form-control
                          %option USA
                    .triangle-border.left
                      %p.mb-0
                        and billing address?
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "address1-input"} Address 1
                      .col-lg-7
                        %input.form-control{:type => "text"}
                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "address2-input"} Address 2
                      .col-lg-7
                        %input.form-control{:type => "text"}

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "zip23"} Zip
                      .col-8.col-sm-5.col-md-6.col-lg-5
                        %input.form-control{:name => "zip", :type => "text"}

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "City-input"} City/Town
                      .col-lg-7
                        %select.form-control
                          %option - choose one -

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "state-select"} State/Province
                      .col-lg-7
                        %select.form-control
                          %option PA

                    %p.mt-4
                      %a.btn.btn-green.btn-fixed{"aria-controls" => "coll6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll6"}
                        Continue

          .card
            #headingColl6.card-header{:role => "tab"}

              %a.collapsed{"aria-controls" => "coll6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coll6"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Payment Information & Transaction

            #coll6.collapse{"aria-labelledby" => "headingColl6", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    .triangle-border.left
                      %p.mb-0
                        Your name, just as it appears on your CC, is it (read field below)?

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "frmNameCC"} CC Name
                      .col-lg-7
                        %input#frmNameCC.form-control{:type => "text", :name => "ccname", :value => "Matthew Dalberto", :required => "required"}

                    .triangle-border.left
                      %p.mb-0
                        Please may I have your phone exactly as it’s listed with your credit card company? 

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "frmPhoneCC"} CC Phone Number
                      .col-lg-7
                        .input-group
                          %input#frmPhoneCC.form-control{:type => "text", :name => "ccphone", :required => "required"}
                            %span.input-group-btn
                              %button#useAni.btn.btn-secondary{:type => "button"} Use ANI
                        %span.small.muted
                          (Fraud search for duplicates will happen on this field)

                    .triangle-border.left
                      %p.mb-0
                        I will transfer you over to our automated system to enter the credit card information. Once you have completed entering the information you will be transferred back to me.

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => "frmCCNum"}
                        Capture CC

                      .col-lg-8
                        %p
                          %i.fa.fa-exclamation-triangle.green{"aria-hidden" => "true"} 
                          %strong
                            Press the 'Capture Via IVR' button 
                          below first so the Credit Card Automated IVR System can handle the entry.           
                          %i.tip.fa.fa-question-circle{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "'Capture Via IVR' will walk user through a CC number entry process that is automated and over the phone. If this is problematic, use 'Manually Enter'"}
                            
                        .input-group
                          %a#capture3.btn.btn-green.mr-4{:href => "/"} Capture Via IVR
                          %a#capture4.btn.btn-green{:href => "/"} Manually Enter
                    
                      / credit card
                    #capturedCC{:style => "display:none"}
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCNum"} CC Number
                        .col-lg-7
                          %input#frmCCNum.form-control{:placeholder => "*******************", :readonly => "readonly", :type => "text"}
                          %ul.list-unstyled.mb-0.mt-2
                            %li.creditcard-visa.mb-0
                              %span.sr-only
                                Visa
                            %li.creditcard-mastercard.mb-0
                              %span.sr-only
                                MasterCard
                            %li.creditcard-discover.mb-0
                              %span.sr-only
                                Discover
                            %li.creditcard-amex.mb-0
                              %span.sr-only
                                American Express
                            %li.creditcard-dinersclub.mb-0
                              %span.sr-only
                                Diner's Club
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCExp"} Experation
                        .col-lg-7
                          %input#frmCCExp.form-control{:name => "cc-exp", :type => "date"}
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCCVC"} Security Code
                        .col-6.col-sm-7.col-md-6.col-lg-3
                          .with-inset-creditcard
                            %input#frmCCCVC.form-control{:placeholder => "****", :readonly => "readonly", :type => "text", :name => "cvc" }
                            %span.creditcard-cvv{"aria-hidden" => "true"}

                    
                    / credit card
                    #captureCC{:style => 'display:none' }
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb2"} CC Number
                        .col-lg-7
                          %input#cc-numb2.form-control{:type => "text"}
                          %ul.list-unstyled.mb-0.mt-2
                            %li.creditcard-visa.mb-0
                              %span.sr-only
                                Visa
                            %li.creditcard-mastercard.mb-0
                              %span.sr-only
                                MasterCard
                            %li.creditcard-discover.mb-0
                              %span.sr-only
                                Discover
                            %li.creditcard-amex.mb-0
                              %span.sr-only
                                American Express
                            %li.creditcard-dinersclub.mb-0
                              %span.sr-only
                                Diner's Club

                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCExp"} Experation
                        .col-lg-7
                          %input#frmCCExp.form-control{:name => "cc-exp", :type => "date"}
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => "security2"} Security Code
                        .col-6.col-sm-7.col-md-6.col-lg-3
                          .with-inset-creditcard
                            %input#security2.form-control{:type => "text"}
                            %span.creditcard-cvv{"aria-hidden" => "true"}



                    .triangle-border.left
                      %p.mb-0              
                        Something about the Kindness program goes here

                    .form-group.row
                      %label.col-lg-3.col-form-label Kindness
                      .col-lg-7
                        .form-check
                          %label.form-check-label
                            %input#gridRadios1.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option1", :checked => "checked"}
                              Futures Without Violence
                        .form-check
                          %label.form-check-label
                            %input#gridRadios2.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option2"}
                              National Center for Housing Child Welfare
                        .form-check
                          %label.form-check-label
                            %input#gridRadios3.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option3"}
                              Paws With a Cause
                        .form-check
                          %label.form-check-label
                            %input#gridRadios4.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option4"}
                              No thanks

                    .triangle-border.left
                      %p.mb-0
                        Now I will process your transaction for 30-minutes for $30.00. 
                      %ul
                        %li
                          PAUSE!
                        %li
                          Wait before processing transaction.
                        %li
                          Gives the customer a chance to change their mind before processing. 

                    %p
                      %a.mt-2.btn.btn-green.btn-fixed#processAccordion
                        Review Order


        #confirmationScreen{:style => 'display:none'}

          .row.justify-content-md-center
            .col-12.col-md-12.col-lg-12
              %h5.card-header.text-center
                %span
                  Review Information

          .row.justify-content-md-center
            .col-12.col-md-5.col-lg-6                
              .form-group.row
                %label.col-lg-4.col-form-label{:for => "last-input"} Intro Offer
                .col-lg-5
                  .review
                    $30.00 for 30 minutes
              .form-group.row
                %label.col-lg-4.col-form-label{:for => "first-input"} Name
                .col-lg-5
                  .review
                    Matt Dalberto
                    
              .form-group.row
                %label.col-lg-4.col-form-label{:for => "last-input"} Email
                .col-lg-5
                  .review
                    mdalberto@vseinc.com


              .form-group.row
                %label.col-lg-4.col-form-label{:for => "first-input"} Birth Date
                .col-lg-5
                  .review
                    03/25/1980
                    
              .form-group.row
                %label.col-lg-4.col-form-label{:for => "first-input"} Credit Card
                .col-lg-7
                  .review
                    ****************0808

              .form-group.row
                %label.col-lg-4.col-form-label{:for => "first-input"} Experation
                .col-lg-7
                  .review
                    12/12/2019

              .form-group.row
                %label.col-lg-4.col-form-label{:for => "first-input"} CC Address
                .col-lg-7
                  .review
                    900 Wheeler Way, Suit 2
                    %br
                    Langhorne, PA 19000, USA

              .form-group.row
                %label.col-lg-4.col-form-label{:for => "last-input"} CC Phone
                .col-lg-5
                  .review
                    555-555-5555

              .form-group.row
                %label.col-lg-4.col-form-label{:for => "last-input"} Total charges to card
                .col-lg-5
                  .review
                    $30.00

          .row.justify-content-md-center
            .col-12.col-md-6.col-lg-6
              %p
                %a.btn.btn-default#backAccordion
                  Back  
                %a.mt-2.btn.btn-green.btn-fixed#submitAccordion
                  Process Order         
                %a#ccFailure{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-2"}
                  simulate cc failure due to bad input         


        #accordionFailure{"aria-multiselectable" => "true", :role => "tablist"}
          .card
            #headingCollFailure-1.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collFailure-1", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-1"}
                %h5.mb-0
                  Failure
 


            //////

            #collFailure-1{"aria-labelledby" => "headingCollFailure-1", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    .triangle-border.left
                      %p.mb-0
                        The account Credit card {failed, ccv was wrong, etc.}.

                    .form-group.row
                      %label.col-lg-3.col-form-label{:for => ""} Try Again or Enter a New Card
                      .col-lg-7
                        %select#ccOptions.form-control
                          %option{:value => "ccSelect"} - select -
                          %option{:value => "ccDefault"} AMEX ending with 2089
                          %option{:value => "ccNewCard"} Add a New Card
     
                    #ccNewCard.ccOptions{"style" => "display:none;"}
                      .form-group.row
                        %label.col-lg-3.col-form-label{:for => "frmCCNum"}
                          Capture CC

                        .col-lg-8
                          %p
                            %i.fa.fa-exclamation-triangle.green{"aria-hidden" => "true"} 
                            %strong
                              Press the 'Capture Via IVR' button 
                            below first so the Credit Card Automated IVR System can handle the entry.           
                            %i.tip.fa.fa-question-circle{"aria-hidden" => "true", "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "'Capture Via IVR' will walk user through a CC number entry process that is automated and over the phone. If this is problematic, use 'Manually Enter'"}
                              
                          .input-group
                            %a#capture1.btn.btn-green.mr-4{:href => "/"} Capture Via IVR
                            %a#capture5.btn.btn-green{:href => "/"} Manually Enter
                      
                        / credit card
                      #capturedCC2{:style => "display:none"}
                        .form-group.row
                          %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCNum"} CC Number
                          .col-lg-7
                            %input#frmCCNum.form-control{:placeholder => "*******************", :readonly => "readonly", :type => "text"}
                            %ul.list-unstyled.mb-0.mt-2
                              %li.creditcard-visa.mb-0
                                %span.sr-only
                                  Visa
                              %li.creditcard-mastercard.mb-0
                                %span.sr-only
                                  MasterCard
                              %li.creditcard-discover.mb-0
                                %span.sr-only
                                  Discover
                              %li.creditcard-amex.mb-0
                                %span.sr-only
                                  American Express
                              %li.creditcard-dinersclub.mb-0
                                %span.sr-only
                                  Diner's Club
                        .form-group.row
                          %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCExp"} Experation
                          .col-lg-7
                            .row
                              .col.pr-0
                                %select.form-control
                                  %option Jan
                              .col
                                %select.form-control
                                  %option 2017
                        .form-group.row
                          %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCCVC"} Security Code
                          .col-6.col-sm-7.col-md-6.col-lg-3
                            .with-inset-creditcard
                              %input#frmCCCVC.form-control{:placeholder => "****", :readonly => "readonly", :type => "text", :name => "cvc" }
                              %span.creditcard-cvv{"aria-hidden" => "true"}
                        %p.mt-4
                          %a.btn.btn-green.btn-fixed{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-2"}
                            Process Order
                      
                      / credit card
                      #captureCC2{:style => 'display:none' }
                        .form-group.row
                          %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb2"} CC Number
                          .col-lg-7
                            %input#cc-numb2.form-control{:type => "text"}
                            %ul.list-unstyled.mb-0.mt-2
                              %li.creditcard-visa.mb-0
                                %span.sr-only
                                  Visa
                              %li.creditcard-mastercard.mb-0
                                %span.sr-only
                                  MasterCard
                              %li.creditcard-discover.mb-0
                                %span.sr-only
                                  Discover
                              %li.creditcard-amex.mb-0
                                %span.sr-only
                                  American Express
                              %li.creditcard-dinersclub.mb-0
                                %span.sr-only
                                  Diner's Club

                        .form-group.row
                          %label.col-xs-12.col-md-3.col-form-label{:for => "frmCCExp"} Experation
                          .col-lg-7
                            .row
                              .col.pr-0
                                %select.form-control
                                  %option Jan
                              .col
                                %select.form-control
                                  %option 2017
                        .form-group.row
                          %label.col-xs-12.col-md-3.col-form-label{:for => "security2"} Security Code
                          .col-6.col-sm-7.col-md-6.col-lg-3
                            .with-inset-creditcard
                              %input#security2.form-control{:type => "text"}
                              %span.creditcard-cvv{"aria-hidden" => "true"}
                        %p.mt-4
                          %a.btn.btn-green.btn-fixed{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-2"}
                            Process Order     














                    #ccDefault.ccOptions{"style" => "display:none;"}
                      .form-group.row
                        %label.col-xs-12.col-md-3.col-form-label{:for => ""} Experation
                        .col-lg-7
                          .row
                            .col.pr-0
                              %select#gender-select.form-control
                                %option Jan
                            .col
                              %select#gender-select2.form-control
                                %option 2017

                      .form-group.row


                        .col-11.col-form-label
                          %p.al-warning
                            %i.fa.fa-exclamation-triangle.green{"aria-hidden" => "true"} 
                            Re-enter security code
                        %label.col-xs-12.col-md-3.col-form-label{:for => "security2"} Security Code
                        .col-6.col-sm-7.col-md-6.col-lg-3
                          .with-inset-creditcard
                            %input#security2.form-control{:type => "text"}
                            %span.creditcard-cvv{"aria-hidden" => "true"}


                      %p.mt-4
                        %a.btn.btn-green.btn-fixed{"aria-controls" => "coll2-2", "aria-expanded" => "false", "data-parent" => "#accordionFailure", "data-toggle" => "collapse", :href => "#collFailure-2"}
                          Try Again     

            
        #accordionSuccess{"aria-multiselectable" => "true", :role => "tablist", :style => 'display:none'}
          .card
            #headingCollSuccess-1.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collSuccess-1", "aria-expanded" => "false", "data-parent" => "#accordionSuccess", "data-toggle" => "collapse", :href => "#collSuccess-1"}
                %h5.mb-0
                  Success!
            #collSuccess-1.collapse{"aria-labelledby" => "headingCollSuccess-1", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    .triangle-border.left
                      %p
                        The account has been created!
                      %p
                        Your 4 digit pin is <strong>XXXX</strong>.
                      %p
                        For your privacy, your credit card charges will show as <strong>(insert Service Name)</strong>.
                      %ul
                        %li
                          Hollywood Psychics appear as <strong>HPS</strong> and our 800#
                        %li
                          Love Coach appears as <strong>Expert Link</strong> and our 800# 
                        %li
                          Psychics Source appear as <strong>Expert Link</strong> and our 800# 
                        %li
                          Gay Live appears as <strong>Live Link</strong> and our 800#
                      %p              
                        Now we have your account all setup, I’ll give you all the information you need to connect with an advisor. 
                      %p                    
                        Please get a pen & paper so you can take down the phone number for accessing our service.  
                      %p
                        I would like to recommend some of our top advisor on the service right now?  
                      %p
                        What type of reading are you looking for? Love & relationships, career, finance, etc. 

                    
                    %a.transcript-directions{'href' => '#'}
                      .media
                        %i.fa.fa-exclamation-triangle.green.d-flex.mr-1.mt-1{"aria-hidden" => "true"}
                        .media-body
                          Recommend 2–3 advisors who are available on the service currently. <u>Click here</u> to show 'Expert View', a listing of all available psychics and there specialties.

 
                    .triangle-border.left
                      %p
                        This will be the only number you’ll need in the future to contact the service. (HP, PS)
                        %span.small
                          (Service Overview for instructions: Hollywood Psychics, Psychic Source)
                      %p
                        The phone number you’ll need to use is: <strong>1-XXX-XXX-XXXX</strong>.
                      %p 
                        Once the service picks up
                      %ol
                        %li
                          Select option #1 for existing members and enter your 4-digit pin# or your 10-digit phone number followed by your 4-digit PIN #, followed by the # pound key.  
                          %span.small
                            (The system will confirm the available amount of time and money in your account)
                        %li
                          From the Crossroads menu; Select option #1 again for the Advisor menu.  
                        %p
                          You can listen to all the available advisor’s messages.  Take your time – you’re not charged until your talking with an Advisor.
                      %p
                        %a.btn.btn-green.btn-fixed{"aria-controls" => "collSuccess-2", "aria-expanded" => "false", "data-parent" => "#accordionSuccess", "data-toggle" => "collapse", :href => "#collSuccess-2"}
                          Continue              

          .card.transcriptOnlyCard
            #headingCollSuccess-2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collSuccess-2", "aria-expanded" => "false", "data-parent" => "#accordionSuccess", "data-toggle" => "collapse", :href => "#collSuccess-2"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    %h5.mb-0
                      How to disconnect a reading with advisor

            #collSuccess-2.collapse{"aria-labelledby" => "headingCollSuccess-2", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    .triangle-border.left
                      %p
                        If at any time during the reading you’re not satisfied, or don’t feel you’re connecting with the Advisors. 
                      %p
                        Press the star (*) key to end your reading right away. Don’t be afraid to use this option, if you’re not satisfied with your reading. The Advisor will not know the call was disconnected.
                      %p
                        %a.btn.btn-green.btn-fixed{"aria-controls" => "collSuccess-3", "aria-expanded" => "false", "data-parent" => "#accordionSuccess", "data-toggle" => "collapse", :href => "#collSuccess-3"}
                          Continue

          .card.transcriptOnlyCard
            #headingCollSuccess-3.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collSuccess-3", "aria-expanded" => "false", "data-parent" => "#accordionSuccess", "data-toggle" => "collapse", :href => "#collSuccess-3"}
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6
                    %h5.mb-0
                      Payment Information & Transaction
            #collSuccess-3.collapse{"aria-labelledby" => "headingCollSuccess-3", :role => "tabpanel"}
              .card-block
                .row.justify-content-md-center
                  .col-12.col-md-6.col-lg-6  
                    .triangle-border.left
                      %h5.mb-0
                        You’re ready to have a reading now! Simply call the toll-free # and follow the prompts that we went over.
                      %p
                        When you call into the service, if you ever have a question, just press “0”.  We’re always available in Customer Service to help you!  
                      %p
                        Is there anything else I can help you with?
                      %p
                        Thanks for calling (PS / HP / LC) Enjoy your reading! 
                    .text-center
                      %p.mb-0.bold
                        Call end. Return to Zipwire, end the call and enter your notation.
%br 
%br
%br
%br 
%br
%br
%br 
%br
%br

/////////// fraud list /////////////

%aside#fraudlist.fraudlist
  .fraudlist-inner
    %h5.fraudlist-header

      %a#fraudlist-ctl{:ref => "#fraudlist-body"}
      
        %i.fa.fa-exclamation-triangle{ "aria-hidden" => "true"}
        Investigate 4 matches
        %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
        .bd-example.bd-example-tooltip-static
          
        
        -# .fraudlist-prompt.bgd-orange.triangle-border.bottom
        -#   2 Duplicate Name + DOB

    .fraudlistfilters.text-center
      Filter List:
      %a.btn
        ANI
        .badge.badge-orange
          11
      %a.btn
        Name + DOB
        .badge.badge-orange
          2
      %a.btn
        Email
        .badge.badge-red
          2
      .btn
        CC Number
      .btn
        Clear Filters
      %i.tip.fa.fa-question-circle.fa-sm{"aria-hidden" => "true", "data-toggle" => "tooltip", :title => "Some filters may be disabled because there are no matches for it."}


    .fraudlist-body
      #fraudlistBody
        %table.rwd-table
          %tr
            %th 

            %th 
              ID 
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th ANI
            %th 
              Name
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th 
              DOB
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th 
              Email
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th 
              CC #
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th.hidden-md
              City
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th.hidden-md
              State
              %i.fa.fa-sort-desc{ "aria-hidden" => "true"}
            %th Actions
          %tr.bgd-visited
            %td.suspended{"data-th" => "Status"}
              .ribbon-wrapper-red
                .ribbon-red
                  Suspended
            %td{"data-th" => "ID"} 424456
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td.orange{"data-th" => "Name"} Matthew M. Dalberto
            %td.orange{"data-th" => "DOB"} 03/25/1980
            %td.red{"data-th" => "Email"} mdalberto@vseinc.com
            %td{"data-th" => "CC Number"} ***8888
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td.suspended{"data-th" => "Status"}
              .ribbon-wrapper-red
                .ribbon-red
                  Suspended
            %td{"data-th" => "ID"} 194456
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td.orange{"data-th" => "Name"} Matthew M. Dalberto
            %td.orange{"data-th" => "DOB"} 03/25/1980
            %td.red{"data-th" => "Email"} mdalberto@vseinc.com
            %td{"data-th" => "CC Number"} ***4564
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td{"data-th" => "Status"}
            %td{"data-th" => "ID"} 993456
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Sarah Sarah
            %td{"data-th" => "DOB"} 10/10/1980
            %td{"data-th" => "Email"} ereree@vseinc.com
            %td{"data-th" => "CC Number"} ***3245
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td{"data-th" => "Status"}
            %td{"data-th" => "ID"} 654321
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Ccccc M. Dalberto
            %td{"data-th" => "DOB"} 05/03/1987
            %td{"data-th" => "Email"} dsfdfdsf@vseinc.com
            %td{"data-th" => "CC Number"} ***0034
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr.bgd-visited
            %td{"data-th" => "Status"}
            %td{"data-th" => "ID"} 564765
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Test33 M. Teste
            %td{"data-th" => "DOB"} 11/11/1990
            %td{"data-th" => "Email"} sarah@vseinc.com
            %td{"data-th" => "CC Number"} ***6787
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr.bgd-visited
            %td{"data-th" => "Status"}  
            %td{"data-th" => "ID"} 787560
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Greg dsfsdf
            %td{"data-th" => "DOB"} 07/25/1957
            %td{"data-th" => "Email"} ertertert@vseinc.com
            %td{"data-th" => "CC Number"} ***2222
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td.suspended{"data-th" => "Status"}
              .ribbon-wrapper-red
                .ribbon-red
                  Suspended
            %td{"data-th" => "ID"} 555554
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} sasasdm Eissssw
            %td{"data-th" => "DOB"} 05/11/1880
            %td{"data-th" => "Email"} mdsdsdes@vseinc.com
            %td{"data-th" => "CC Number"} ***3245
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td.suspended{"data-th" => "Status"}
              .ribbon-wrapper-red
                .ribbon-red
                  Suspended
            %td{"data-th" => "ID"} 765645
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Mike Mike
            %td{"data-th" => "DOB"} 08/03/1975
            %td{"data-th" => "Email"} mwwwwww@vseinc.com
            %td{"data-th" => "CC Number"} ***9098
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td{"data-th" => "Status"}  
            %td{"data-th" => "ID"} 876543
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} George George
            %td{"data-th" => "DOB"} 06/06/1985
            %td{"data-th" => "Email"} george@vseinc.com
            %td{"data-th" => "CC Number"} ***1111
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View

          %tr
            %td{"data-th" => "Status"}  
            %td{"data-th" => "ID"} 104222
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Testing33 Rdsdys
            %td{"data-th" => "DOB"} 07/11/1960
            %td{"data-th" => "Email"} fdgdfg@vseinc.com
            %td{"data-th" => "CC Number"} ***5467
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View
          %tr
            %td{"data-th" => "Status"}  
            %td{"data-th" => "ID"} 546006
            %td.orange{"data-th" => "ANI"} 216-210-5631
            %td{"data-th" => "Name"} Test M. Dal
            %td{"data-th" => "DOB"} 12/01/1980
            %td{"data-th" => "Email"} Test1@vseinc.com
            %td{"data-th" => "CC Number"} ***4555
            %td.hidden-md{"data-th" => "City"} Harrisburg
            %td.hidden-md{"data-th" => "State"} Pennsylvania
            %td{"data-th" => "Actions"} 
              %btn.btn-action{ "data-toggle" => "modal", "data-target" => "#myModal" }
                View

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

      .suspended{"data-th" => "Status"}
        .ribbon-wrapper-red
          .ribbon-red
            Suspended
      .modal-header
        %h5#exampleModalLabel.modal-title 
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .text-center.mb-3
          .fa.fa-user-circle-o.fa-5x.gray{"aria-hidden" => "true"}
        %h2.text-center.orange.text-normal
          Matthew Dalberto
        %h5.text-center.mb-4
          ANI:
          %span.bold.orange
            267-210-6381
        %hr
        -# .row
        -#   .col-6
        -#     %p.bold.mb-0
        -#       User ID: 
        -#     %p
        -#       123456
        -#     %p.bold.mb-0
        -#       Last Purchase:
        -#     %p
        -#       $300 - 03/25/2017
        -#   .col-6
        -#     %p.bold.mb-0
        -#       Address            
        -#     %p
        -#       3208 Northwoods Park Dr
        -#       %br
        -#       Harrisburg, PA 19129

        -#     %p.bold.mb-0
        -#       Address            
        -#     %p
        -#       3208 Northwoods Park Dr
        -#       %br
        -#       Harrisburg, PA 19129
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

