--- 
layout: default 
title: Newbie Script 1 
permalink: /newbie-form8/ 
prototype: 6
---



%section#services.newbieform5.bold-labels.card-noborder.btn-round.no-border-card-headers
  .container-fluid
    .row
      .col-lg-12.text-center
        %h1.mt-3 New Psychic Source Customer
        %p.text-muted ANI: 267-210-6381
        %controls
          %a#toggleTranscript.btn.btn-default.btn-sm.float-right
            %i.fa.fa-comment.fa-lg.green
            Toggle
            %br
            Transcript
    .row.justify-content-md-center
      .col-12.col-md-7.col-lg-6
        #accordion{"aria-multiselectable" => "true", :role => "tablist"}
          .card.transcriptOnlyCard
            #headingOne.card-header{:role => "tab"}
              %a{"aria-controls" => "collapseZero", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseZero"}
                %h5.mb-0
                  Intro Transcript
            #collapseZero.collapse.show{"aria-labelledby" => "headingZero", :role => "tabpanel"}
              .card-block
                .triangle-border.left
                  %p.mb-4
                    Hi! Thank you for calling (PS) my name is (your name). Have you ever used our service before?
                  %a.btn.btn-green{"aria-controls" => "collapseIsMember", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseIsMember"}
                    Yes
                  %a.btn.btn-green{"aria-controls" => "collapseZeroInnerTwo", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseZeroInnerTwo"}
                    no
                #collapseIsMember.collapse
                  .row.justify-content-md-center
                    .col-md-7.text-center

                      %i.fa.fa-reply.fa-5x{"aria-hidden" => "true"}
                      %p
                        Please redirect this person to a sessoned agent.
                      %p.mb-3 
                        At this point the simution is over
                        %br
                        %a.btn.btn-defualt{:href => "{{ site.baseurl }}/"} Back to start

          .card.transcriptOnlyCard
            #headingZeroInnerTwo.card-header{:role => "tab"}
              %a.collapsed#headingZeroInnerTwoClick{"aria-controls" => "collapseZeroInnerTwo", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseZeroInnerTwo"}
                %h5.mb-0
                  Over 18 & New Member Offer
            #collapseZeroInnerTwo.collapse{"aria-labelledby" => "headingZeroInnerTwo", :role => "tabpanel"}
              .card-block
                .triangle-border.left
                  %p
                    I would be happy to set you up with an account, so you can talk with one of our advisors in just a few minutes. We are a
                    Pre-Paid Service, so as long as you are over the age of 18?
                  %p
                    I’ll just need your information and a credit card in your own name to create an account exclusively for you. You can decide
                    how much you want to spend and when.
                  %p
                    Our new member introductory offer is just a $1.00 per minute 1X only. We accept all major credit cards.
                  %p
                    Our best package is 30 minutes for $30.00.
                  .btn.btn-green#transcript-2-more{"aria-controls" => "collapseMoreOnPrice", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseMoreOnPrice"}
                    More on Price                         
                  %a.btn.btn-green{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                    Continue
              #collapseMoreOnPrice.collapse.mt-3
                .triangle-border.top

                  %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collapseMoreOnPrice", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseMoreOnPrice"}
                    %span{ :aria-hidden =>"true"}
                      &times
                  %ul.pl-3
                    %li
                      You can get 1 long reading or you may try 2 or 3 short readings with different advisors. You can divide up your time any way you like. 
                    %li
                      You do not have to use all the time on your first reading.  
                    %li
                      Any time left remains on your account for a future reading.
                  %p
                    There are no taxes, fees or other cost we charge to use our service. You can talk to almost any advisor. (Excludes Premium Advisors). We do not offer the $1 per/min rate on the next purchase. The advisor’s rates start from $4.99 per/min to $11.99 per/min, existing member rates are charged on 2nd purchases and on.

                  %p
                    The introductory price is a fantastic special first-time offer.  After your first purchase, you can select to put any amount from $10.00 and up on your account.  You always decide how much you want to put on your account. 

                  %p
                    %a.btn.btn-green{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                      Continue






          .card
            #headingOne.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                %h5.mb-0
                  Customer Information
            #collapseOne.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
              .card-block
                .triangle-border.left
                  %p
                    The information I need, is what verifies you to your credit card.
                  %p.mb-0
                    Please may I have your phone exactly as it’s listed with your credit card company? 

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "phone-input"} Phone Number
                  .col-lg-7
                    .input-group
                      %input#phone-input.form-control{:type => "text"}
                        %span.input-group-btn
                          %button#useAni.btn.btn-secondary{:type => "button"} Use ANI
                    %span.small.muted
                      (Fraud search for duplicates will happen on this field)
                          
                .triangle-border.left
                  %p.mb-0
                    What type of phone are you using? 
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "gender-select"} Phone Type
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    %select#gender-select.form-control
                      %option Cell                
                .triangle-border.left
                  %p.mb-0
                    Now, your first, middle and last name exactly how it appears on the credit card. 
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "first-input"} First Name
                  .col-lg-7
                    %input#first-input.form-control{:type => "text"}
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "middle-input"} Middle
                  .col-6.col-sm-3.col-md-3.col-lg-2
                    %input#middle-input.form-control{:type => "search"}
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "last-input"} Last Name
                  .col-lg-7
                    %input#last-input.form-control{:type => "text"}
                    %span.small.muted
                      (Fraud search for duplicates will happen on this field)

                .triangle-border.left
                  %p.mb-0
                    Your date of birth please.  Thank you.

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "birth"} Birth Date
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    %input#birth.form-control{:name => "date", :type => "text"}

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "gender-select"} Gender
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    %select#gender-select.form-control
                      %option Female
                      %option Male

                %p
                  %a.btn.btn-green.btn-fixed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                    Continue



              
          .card
            #headingTwo.card-header{:role => "tab"}
              
              %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                %h5.mb-0
                  Account Access Info
            #collapseTwo.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
              .card-block

                .triangle-border.left
                  %p.mb-0
                    Please, select a 4-digit pin number to use access your account with our service.  Select any 4- numbers which are easy for you to remember.

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "pin-input"} PIN
                  .col-6.col-sm-3.col-md-3.col-lg-3
                    .input-group
                      %input#pin.form-control{:type => "search"}
                        %i.tip.fa.fa-question-circle.fa-lg{"aria-hidden" => "true", "data-toggle" => "tooltip", :title => "4 digits required"}
                %p
                  %a.btn.btn-green.btn-fixed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                    Continue


          .card
            #headingThree.card-header{:role => "tab"}

              %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                %h5.mb-0
                  Address, How they Heard, Lang, Email

            #collapseThree.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
              .card-block

                .triangle-border.left
                  %p.mb-0
                    What is the address which verifies you with your credit card?

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "address1-input"} Address 1
                  .col-lg-7
                    %input.form-control{:type => "text"}
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "address2-input"} Address 2
                  .col-lg-7
                    %input.form-control{:type => "text"}


                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "City-input"} City/Town
                  .col-lg-7
                    %input.form-control{:type => "text"}
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "state-select"} State/Province
                  .col-lg-7
                    %select.form-control
                      %option PA
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "zip23"} Zip
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    %input.form-control{:name => "zip", :type => "text"}

                .triangle-border.left
                  %p.mb-0
                    How did you hear about the service?

                .form-group.row
                  %label.col-lg-3.col-form-label Heard about us
                  .col-lg-7
                    %select#gender-select.form-control
                      %option From a Friend
                      %option Newspaper
                      %option Magazine
                      %option Internet
                      %option TV
                      %option Radio
                      %option From a Friend
                      %option Unspecified





                .triangle-border.left
                  %p.mb-0
                    We would like to know your preferred reading language for getting a reading. Spanish or English. We will deliver content in your preferred language.

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "language-select"} Language
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    %select#language-select.form-control
                      %option English
                      %option Spanish

                .triangle-border.left
                  %p.mb-0
                    And your email address please?
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "email-input"} Email
                  .col-lg-7
                    %input#email-input.form-control{:type => "text"}
                    %span.small.muted
                      (Fraud search for duplicates will happen on this field)
                .triangle-border.left
                  .btn.btn-green#transcript-2-more.mb-0.btn-sm{"aria-controls" => "collapseDeclinesEmail", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseDeclinesEmail"}
                    Declines Email                         

                #collapseDeclinesEmail.collapse.mt-3
                  .triangle-border.top
                    %button.close{ :type=> "button", :aria-label => "Close", "aria-controls" => "collapseDeclinesEmail", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseDeclinesEmail"}
                      %span{ :aria-hidden =>"true"}
                        &times
                    %p
                      (Entice them) By sharing your email address, you are given added security;
                    %p
                      Benefits  
                    %ul
                      %li
                        We send an electronic receipt with every purchase.
                      %li
                        We send you promotions and exclusive offers for just sharing your email.
                      %li
                        Your information is private and we don’t sell or trade any of your private information.


                
                %p.mt-3
                  %a.btn.btn-green.btn-fixed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                    Continue

          .card
            #headingFour.card-header{:role => "tab"}

              %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                %h5.mb-0
                  Payment Information & Transaction
            #collapseFour.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
              .card-block

                .triangle-border.left
                  %p.mb-0
                    Mr/Mrs Smith, will you be using a credit or debit card?

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "language-select"} Type of Card
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    %select#language-select.form-control
                      %option Debit
                      %option Credit
                
                .triangle-border.left
                  %p.mb-0
                    I will transfer you over to our automated system to enter the credit card information. Once you have completed entering the information you will be transferred back to me.

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "phone-input"}
                    Credit Card

                  .col-lg-8
                    .input-group
                      %a#capture3.btn.btn-green.mr-1{:href => "/"} Capture Via IVR
                      %a#capture4.btn.btn-default{:href => "/"} Manually Enter
                    %span.small.muted
                      Please press 'Capture Via IVR' first below so the Credit Card Automated IVR System can handle the entry. IVR will walk user through entering info.
                
                  / credit card
                #capturedCC{:style => "display:none"}
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb"} Credit Card
                    .col-lg-7
                      %input#cc-numb.form-control{:placeholder => "*******************", :readonly => "readonly", :type => "text"}/
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "experation"} Experation
                    .col-lg-7
                      .row
                        .col.pr-0
                          %select#gender-select.form-control
                            %option ***
                        .col
                          %select#gender-select2.form-control
                            %option ***
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "security-code"} Security Code
                    .col-6.col-sm-3.col-md-3.col-lg-2
                      %input#security-code.form-control{:placeholder => "****", :readonly => "readonly", :type => "text"}/
                    %a#capture2.btn.btn-primary.btn-sm{:href => ""} Redo

                
                / credit card
                #captureCC{:style => 'display:none' }
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "cc-numb2"} Credit Card
                    .col-lg-7
                      %input#cc-numb2.form-control{:type => "text"}/
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "experation2"} Experation
                    .col-lg-7
                      .row
                        .col.pr-0
                          %select#gender-select.form-control
                            %option Jan
                        .col
                          %select#gender-select2.form-control
                            %option 2017
                  .form-group.row
                    %label.col-xs-12.col-md-3.col-form-label{:for => "security2"} Security Code
                    .col-6.col-sm-3.col-md-3.col-lg-2
                      %input#security2.form-control{:type => "text"}

                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "first-input2"} DNIS
                  .col-lg-7
                    %input.form-control{:placeholder => "1-800-956-3049", :type => "text"}
                .form-group.row
                  %label.col-lg-3.col-form-label{:for => "promo-input"} Promo Code
                  .col-8.col-sm-5.col-md-6.col-lg-4
                    

                    .input-group
                      %input#promo-input.form-control{:type => "text"}
                        %i.tip.fa.fa-question-circle.fa-lg{"aria-hidden" => "true", "data-toggle" => "tooltip", :title => "Only enter something if they provide this"}

                / packages
                .form-group.row
                  %label.col-lg-3.col-form-label Packages
                  .col-lg-7
                    .form-check
                      %label.form-check-label
                        %input#gridRadios1.form-check-input{:name => "gridRadios", :type => "radio", :value => "option1", :checked => "checked" }
                          $30.00 for 30 minutes
                    .form-check
                      %label.form-check-label
                        %input#gridRadios2.form-check-input{:name => "gridRadios", :type => "radio", :value => "option2"}
                          $20.00 for 20 minutes
                    .form-check
                      %label.form-check-label
                        %input#gridRadios3.form-check-input{:name => "gridRadios", :type => "radio", :value => "option3"}
                          $10.00 for 10 minutes
                .triangle-border.left
                  %p.mb-0              
                    Something about the Kindness program goes here

                .form-group.row
                  %label.col-lg-3.col-form-label Kindness
                  .col-lg-7
                    .form-check
                      %label.form-check-label
                        %input#gridRadios1.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option1"}
                          Futures Without Violence
                    .form-check
                      %label.form-check-label
                        %input#gridRadios2.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option2"}
                          National Center for Housing Child Welfare
                    .form-check
                      %label.form-check-label
                        %input#gridRadios3.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option3"}
                          Paws With a Cause
                    .form-check
                      %label.form-check-label
                        %input#gridRadios4.form-check-input{:name => "gridRadios2", :type => "radio", :value => "option4"}
                          No thanks


                .triangle-border.left
                  %p.mb-0
                    Now I will process your transaction for 30-minutes for $30.00. 
                  %ul
                    %li
                      PAUSE!
                    %li
                      Wait before processing transaction.
                    %li
                      Gives the customer a chance to change their mind before processing. 

                %p
                  %a.mt-2.btn.btn-green.btn-fixed#processAccordian
                    Submit


        #confirmationScreen.text-center{:style => 'display:none'}
          %hr
          %p
            Summary screen before final submitting could go here?
          %p
            %a.btn.btn-default#backAccordian
              Back  
            %a.mt-2.btn.btn-green.btn-fixed#submitAccordian
              Process          
          



        #processMessage.text-center{:style => 'display:none'}
          %hr
          .green
            %h1
              Success!
          %p
            The account has been created!
            
        #accordion2{"aria-multiselectable" => "true", :role => "tablist", :style => 'display:none'}
          .card.transcriptOnlyCard
            #headingOne2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collapseOne2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne2"}
                %h5.mb-0
                  Service Information
            #collapseOne2.collapse{"aria-labelledby" => "headingOne2", :role => "tabpanel"}
              .card-block
                .triangle-border.left
                  %p
                    For your privacy, your credit card charges will show as (insert Service Name).
                  %ul
                    %li
                      Hollywood Psychics appear as HPS and our 800#
                    %li
                      Love Coach appears as Expert Link and our 800# 
                    %li
                      Psychics Source appear as Expert Link and our 800# 
                    %li
                      Gay Live appears as Live Link and our 800#
                .triangle-border.left
                  %p              
                    Now we have your account all setup, I’ll give you all the information you need to connect with an advisors. 
                  %p                    
                    Please get a pen & paper so you can take down the phone number for accessing our service.  
                  %p
                    I would like to recommend some of our top advisor on the service right now?  
                  %p
                    What type of reading are you looking for? <Love & relationships, career, finance, etc.>. 
                    Recommend 2–3 advisors who are available on the service currently.
                    %br/
                    %a.btn.btn-green.btn-sm
                      Link to Expert View
                  %p
                    This will be the only number you’ll need in the future to contact the service. (HP, PS)
                    %span.small
                      (Service Overview for instructions: Hollywood Psychics, Psychic Source)
                  %p
                    The phone number you’ll need to use is: 1-XXX-XXX-XXXX.
                  %p 
                    Once the service picks up- Select option #1 for existing members and enter your 4-digit pin# or your 10-digit phone number followed by your 4-digit PIN #, followed by the # pound key.  
                    %span.small
                      (The system will confirm the available amount of time and money in your account)
                  %p
                    From the Crossroads menu; Select option #1 again for the Advisor menu.  
                  %p
                    You can listen to all the available advisor’s messages.  Take your time – you’re not charged until your talking with an Advisor.
                  %p
                    %a.btn.btn-green.btn-fixed{"aria-controls" => "#collapseTwo2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo2"}
                      Continue              

          .card.transcriptOnlyCard
            #headingTwo2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "#collapseTwo2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo2"}
                %h5.mb-0
                  How to disconnect a reading with advisor
            #collapseTwo2.collapse{"aria-labelledby" => "headingTwo2", :role => "tabpanel"}
              .card-block
                .triangle-border.left
                  %p
                    If at any time during the reading you’re not satisfied, or don’t feel you’re connecting with the Advisor. 
                  %p
                    Press the star (*) key to end your reading right away. Don’t be afraid to use this option, if you’re not satisfied with your reading. The Advisor will not know the call was disconnected.
                  %p
                    %a.btn.btn-green.btn-fixed{"aria-controls" => "#collapseThree2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree2"}
                      Continue

          .card.transcriptOnlyCard
            #headingThree2.card-header{:role => "tab"}
              %a.collapsed{"aria-controls" => "collapseThree2", "aria-expanded" => "false", "data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree2"}
                %h5.mb-0
                  Close the Call
            #collapseThree2.collapse{"aria-labelledby" => "headingThree2", :role => "tabpanel"}
              .card-block
                .triangle-border.left
                  %p
                    You’re ready to have a reading now!  Simply call the toll-free # and follow the prompts that we went over.
                  %p
                    When you call into the service, if you ever have a question, just press “0”.  We’re always available in Customer Service to help you!  
                  %p
                    Is there anything else I can help you with?
                  %p
                    Thanks for calling (PS / HP / LC) Enjoy your reading! 
                .text-center
                  %p.mb-0.bold
                    The End
                  %p At this point the simution is over
                  %a{:href => "{{ site.baseurl }}/"} Back to start


%footer.footer2.clearfix
  .container-fluid.text-center
    #users.users{:style => 'display: none'}

      %a#btn-matches.text-red.text-center.mb-3.font-weight-bold.btn-match{:href => ""}
        %i.fa.fa-exclamation-triangle{"aria-hidden" => "true"}
        4 match(es) found
      %a#btn-matches2.text-red.text-center.mb-3.font-weight-bold.btn-match{:href => "", :style => "display:none"}
        %i.fa.fa-exclamation-triangle{"aria-hidden" => "true"}
        4 match(es) found
      .row.users-heading
        .col.text-red
          Name
          %i.fa.fa-sort-desc
        .col 
          DOB
          %i.fa.fa-sort-desc 
        .col 
          Email
          %i.fa.fa-sort-desc 
        .col 
          Phone
          %i.fa.fa-sort-desc 
        .col 
          Address
          %i.fa.fa-sort-desc 
        .col.text-center
          Investigate

      .row
        .col
          Matt M
          %span.text-red Bee
        .col 03/25/1979
        .col mdal1388@gmail.com
        .col 215-222-2211
        .col 3543 Ainslie Street...
        .col.text-center
          %button.btn.btn-default.btn-sm{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"} View
      %hr/
      .row
        .col
          Mat
          %span.text-red Bee
        .col 03/20/1980
        .col mdal138@gmail.com
        .col 215-111-2222
        .col 1113 Chestnut Street...
        .col.text-center
          %a.btn.btn-default.btn-sm{:href => ""} View
      %hr/
      .row
        .col
          Mark
          %span.text-red Bee
        .col 03/25/1980
        .col mdal13833@gmail.com
        .col 215-978-2222
        .col 545 Park Street...
        .col.text-center
          %a.btn.btn-default.btn-sm{:href => ""} View
      %hr/
      .row
        .col
          Joe
          %span.text-red Bee
        .col 09/25/1980
        .col joe@gmail.com
        .col 215-121-2222
        .col 98 Car Street...
        .col.text-center
          %a.btn.btn-default.btn-sm{:href => ""} View
      %hr/
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header.text-center
        %h5#exampleModalLongTitle.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
      .modal-body
        %h3.text-center
          Psychic Source Customer
          %br/
          Matt M Bee
        %hr.mt-4/
        .container-fluid
          .row
            .col-6 Bunch of relevent details
            .col-6 Bunch of relevent details
      .modal-footer.text-center
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close





