--- 
layout: default 
title: start-1
permalink: /start-1/ 

---

%section#services
  .container
    .row
      .col-lg-12.text-center
        %h1.h1-home.mt-3 Welcome to OE Script
        %p A new member scripted order entry tool
        %h3.green{:style => "line-height:28px"}
          Ready to receive calls
        %a{:href => "{{ site.baseurl }}/form-script" }
          Simulate a call has come through
    .row.mt-4
      .col-md-6
        %p.bold.mb-0 CC Fail screens
        %a{:href => "{{ site.baseurl }}/cc-fail-expiration" }
          CC Fail Expiration
        %br
        %a{:href => "{{ site.baseurl }}/cc-fail-new-payment-only" }
          CC Fail New Payment Only
        %br
        %a{:href => "{{ site.baseurl }}/cc-fail-3rd-attempt" }
          CC Fail 3rd Attempt
        %br
        %br
        %p.bold.mb-0 Hard stop screens (transfer to specialist)
        %a{:href => "{{ site.baseurl }}/transfer-existing" }
          Transfer (existing Member)
        %br
        %a{:href => "{{ site.baseurl }}/transfer-fldob" }
          Transfer (first, last, dob)

        %br
        %a{:href => "{{ site.baseurl }}/transfer-email" }
          Transfer (email)

        %br
        %a{:href => "{{ site.baseurl }}/transfer-dup-cc" }
          Transfer (duplicate cc number)
        %br
        %a{:href => "{{ site.baseurl }}/transfer-under-age" }
          Transfer (under age)

          