.btn{
    padding: 0.75rem 1rem;
}

// reset btn-sm again
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.btn-transcript{
    
   // margin-left:-80px;
    
}

.btn-input-height{
    padding: 0.5rem 1rem;
}

.btn-xl {
  color: #fff;
  background-color: $green;
  border-color: $green;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 30px;
  font-weight: bold;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    //text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.btn-green{
    background-color: $green;
    cursor:pointer;
    color: #ffffff;
}

.btn-blue{
    background-color: $oe-blue;
    cursor:pointer;
}

.btn-white{
    border-color: $oe-blue;
    color: $gray;
    cursor:pointer;
}

.btn-gray2{
    border-color: $oe-blue;
    color: $gray;
    cursor:pointer;
        margin-bottom: 5px;

}

.btn-yellow{
    border-color: $yellow;
       background-color: $oe-pale-yellow;
    color: $gray;
    cursor:pointer;
        margin-bottom: 5px;

}

.btn-package:hover{
     cursor:pointer !important;
     background-color: $oe-pale-yellow !important;
}


a.btn-green:focus, a.btn-green:hover,
a.btn-blue:focus, a.btn-blue:hover {
    cursor:pointer;
    color: white;
    transition: 0.4s;
    background-color: darken($green,15%);
}

a.btn-blue:focus, a.btn-blue:hover {
    cursor:pointer;
    color: white;
    transition: 0.4s;
    background-color: darken($oe-blue,15%);
}


.btn-default{
    background-color: #ccc;
    color:white;

}

.btn.disabled, .btn:disabled {
    color: white;
}

.btn-match{
    padding: 0px 20px; 
    
    margin-top: -60px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -111px;
    background-color: white;
}