.u-mar-top-30{
    margin-top: 30px;
}

.yellow{
    color: $yellow;
}

.green{
    color: $green;
}

.gray{
    color: $gray;
}

.white{
    color: #ffffff;
}

.orange
{
    color: $orange;
}
.red{
    color: $oe-red;
}
.crossout{
    text-decoration:line-through;
}

.u-mar-t-30{
    margin-top: 30px;
}

.u-mar-l-10{
    margin-left: 10px;
}

.bold { 
  font-weight:bold;
}

.hidden-md{
    @media (min-width: $md ) and (max-width: $lg){
        display:none !important;
    }
}

tr.bgd-visited{
    //td{
        background: rgba(215, 195, 220, .4) !important;
        // aka: #d7c3dc without transparency
    //}
}
