body {
    padding-top: 55px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size:16px;
    line-height:25px;
}

// .navbar-nav > li > a, .navbar-brand{
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

.navbar{
  min-height: 20px;
}

.navbar-brand {
  //font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16px;
  float: left;
  //height: 0px !important;
  //padding: 5px 15px 5px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  cursor:hand;

  a{
        color: white;

    }
}

.navbar-brand a:hover{
  color: white !important;
}

.nav-link{
  padding:0;
}

.navbar-nav>li>a {
    color: white;    
    .fa{
      color: #9d9d9d;
    }
    .caret{
      color: #9d9d9d;
    }
}

.navbar-toggler{
      padding: .1rem .75rem;
}

.btn-fixed{
  width:100%;
  margin-bottom:5px;
  }
@include media-breakpoint-up("lg") {
  .btn-fixed{

    width:220px;
    display:inline-block;
  }
}


.agent{
  font-size:13px;
}

.bgd-light-gray {
    background-color: #eee;
}

.bgd-dark{
  background: black url(../img/bgd-black.jpg) repeat;
}

// .sb-card{
//   background: whitesmoke;
//   border: 1px solid #ededed;
//   //border-bottom: 3px solid #ededed;
//   margin-bottom: 30px;
// }
// .card-block {
//     flex: 1 1 auto;
//     padding: 1.25rem;
// }
// .card{
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   background-color: #fff;
//   border: 4px solid $yellow;
//   border-radius: 0.25rem;
// }

.notification{
    //color: #9d9d9d;
    //line-height: 20px;
    //position: relative;
    //display: block;
    padding: 0px 10px;
    position: absolute;
    right: 0;

}
.red-texture{
 // background: #e97770 url(assets/css/images/overlay.png);
  color: #fff;
}

hr{
  border-top: 1px solid $oe-blue;
  margin-top:0;
}

// show columns for now
.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.flipped{
  transition: 0.6s;
    z-index: 2;
  transform: rotateY(0deg);
}

.transcript{
  //display:none;
}

.users{


  hr{
    margin-bottom:5px;
    margin-top:5px;
  }
}