
.card {
    margin-left: -16px;
    margin-right: -16px;
    @include media-breakpoint-up("md") {
        margin-left: 0px;
        margin-right: 0px;
    }

    // no margin cards within cards
    .card {
        margin-left: 0px;
        margin-right: 0px;
    }
}



#accordionTranscripts .card{
    background-color:white;
}