
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, h3{
  font-size:20px;
  margin-bottom:3px;
}

h5, .h5 {
    font-size: 1.1rem;
}

.h1-home{
    font-size:26px;
}

.text-primary, a {
    color: $green;
}
    
a {
  color:$blue;
  font-weight: normal;
}


.text-small{
    font-size:13px;
    line-height:15px;
}

p{
    line-height:25px;
}

.text-red{
    color:$oe-red !important;
}

.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color:transparent;
    border-bottom: 1px solid #cecece;
    text-align:center;

    a, span{
        display:block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;         
        font-weight:bold;
        font-weight: normal;
       // color: $green;
    }

    a.collapsed{
        color: #cecece; 
    }
}

.ani-dnis-area{
    font-size:15px;
    i.tip{
            line-height: 0em;
            margin-top: 0px;
        margin-left: 0px;
    }
}