$yellow: #fed136;
$green: #82bb02;

$oe-pale-yellow: #fde699;
//$gray: #ddd;
$oe-blue: #bacad7;
//$white: #ffffff;
$orange: #ec871f;
$oe-red: #ff0000;
$enable-rounded:   false;

$oe-lgt-blue: #e3f5fb;
